@media only screen and (max-width: 980px) {
    body{
        color:yellow;
    }
}
@media only screen and (max-width: 768px) {
    body{
        color:blue;
    }
}
@media only screen and (max-width: 640px) {
    body {
        color:red;
    }   
}