
header {
    background-color: #4aaaa5;
     color:#ffffff;
     font-size: 35px;
     width: 30%;
     padding: 8px;
     font-family: 'Georgia', Times, Times New Roman, serif;
     text-align: center;
     position: relative;
     margin-left: 50px;
     
}
.buttons {
    float: right;
    padding: 5px;
    font-size: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: -65px;

}
h2 {
    clear: both;
    font-size: 30px;
    color: #4aaaa5;
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#self {
    height: 275px;
    width: 175px;
    padding: 10px;
    float: left;
    overflow: auto;
}
div {
    text-align: center;
    background-color: #fff;
    margin-left: 50px;
    overflow: hidden;
}
aside {
    text-align: center;
    background-color: #fff;
    margin-left: initial;
    overflow: hidden;
    width: 910px;
}
html {
    width: 960px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: none; 
}
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
hr {
    width: 960px;
}
#image {
    height: 200px;
    width: 200px;
    padding: 15px;
}
footer {
    clear: both;
    text-align: center;
    background-color: #777;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: -1px;
    height: 50px;
    padding: 10px;
}
#space {
    background-color: #4aaaa5;
    height: 5px;
    margin: 0 auto;
    width: inherit;
    clear: both;
}
button {
    margin-left: 100px;
}
section {
    margin-left: 50px;
}
body {
    background: linear-gradient(#000, #777);
}
article {
    width: 200px;
    margin: 30px;
    padding: 5px;
}
#lefty {
    float: left;
    clear: left;
    margin-left: 200px;
}
#borderCollie {
    border: solid;
    border-width: 3px;
    border-color: #777;
    border-bottom: none;
    border-top: none;
    border-left: none;
}
